<div class="content">
  <div class="textCenter">
    <h2>Your view here </h2>

    <div  *ngFor="let request of requests">
      <label>{{request.type}} :</label>
      <input type="text" class="danger textCenter redb" disabled value="{{request.value}}"/>
    </div>



    <button  (click)="fetchValue()" >Reload </button> <br>

    <p>loadtime:</p>
    <p class="danger"> {{timer}}  </p>

  </div>
  <ngx-spinner bdColor = "rgb(85, 87, 89)" size = "medium" color = "rgb(247, 50, 63)" type = "ball-fussion" [fullScreen] = "true">
      <p style="color: white" >
        Loading...
      </p>
  </ngx-spinner>

</div>

